.login-container {
  text-align: center;
  width: 80%;
}
@media (min-width: 600px) {
  .login-container {
    width: 60%;
  }
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
