.login-container {
  background-color: #282c34;
  border-radius: 10px;
  padding: 20px;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
